{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1 class="text-center text-white">Modifier Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}


{% endblock %}
