{% extends 'base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <h1 class="text-center text-white">Crée un nouveau</h1>

    {{ include('menu/_form.html.twig') }}
{% endblock %}
